nav{
    background: #ccc;
    height: 50px;
}

#banner{
    background: #777;
    height: 700px;
}

nav ul{
    list-style: none; /*  不要样式 也就是前面的点 */
    margin: 0;
}

nav ul li{
    display: inline-block; /* 让横着排列 */
    line-height: 50px;
    float: right;
    margin-right: 20px;
}

nav ul li a{
    line-height: 50px;
    text-decoration: none; /* 下划线去掉 */
    display: inline-block; /* 行内块元素 */
    height: inherit;  /* 继承父元素 */
}

nav ul li.logo{
    float: left;
}

#banner .inner h1{
    margin: 0;
}

